@import (inline) '../node_modules/normalize-css/normalize.css';
@import 'https://fonts.googleapis.com/css?family=Rancho|Tangerine';
@import 'box-sizing.less';

@dark-red: #CE150E;
@background-color: @dark-red;
@max-page-width: 1000px;

body {
  background-color: @background-color;
}

.centered-wrapper {
  max-width: @max-page-width;
  margin: 0 auto;
}

.header {
  font-family: 'Tangerine', cursive;
  text-align: center;
  &__title {
    font-size: 2.2em;
    margin-top: .3em;
    margin-bottom: .1em;
  }
}

.main-content {
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Rancho', cursive;
  
  &__logo {
    display: none;
  }

  @media only screen and (min-width: 1000px) {
    &__logo, &__questionnaire {
      display: block;
      float: left;
      width: 50%;  
    }

    &__logo img {
      width: 100%;
      padding: 20px;
    }
  }
}

.question-field {
  border: 0;
  padding-left: 0;

  &__question {
    font-size: 1.3em;
  }

  &__input {
    margin-left: 5px;
    margin-right: 20px;
  }
}

.submit-button {
  display: inline-block;
  padding: .5em 2em;
  background-color: red;
  border: 1px solid black;
}

.drink {
  font-size: 1.2em;
}

.hidden {
  display: none;
}
